<div class="wrap">
  <div class="page-header">
    <h1>About Spotify Search Interface</h1>
    <h4>Version <span class="version">1.0.0</span></h4>
  </div>
  <div class="content">
    <h3>UI/UX designed to showcase Spotify's Web API</h3>
    <p>High Impact graphic design with custom imagery and effects. Search for your favourite artists
      and look for their albums and tracks!</p>
    <h3>Server Side Authorization</h3>
    <p>Using Spotify's Authorization flow, an access token is requested using an encoded string with Base64 algorythim.</p>
    <h3>Images</h3>
    <p>Home component image from Rise Against <a href="http://www.riseagainst.com" target="_blank" class="link">www.riseagainst.com</a>, all images for artists and albums from <a href="https://www.spotify.com" target="_blank" class="link">Spotify</a></p>
  </div>
  <footer>
    <p>Techs: AngularJS, NodeJS, APIs</p>
    <p>Coded by Jorge A <span class="glyphicon glyphicon-ice-lolly-tasted ic"> </span></p>
  </footer>
</div>