/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Oxygen', sans-serif !important;
    background-image: url('assets/bg2_20.jpg');
}

.jumbotron {
    margin-top: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4),0 1px 1px 0 rgba(0,0,0,0.3),0 2px 1px -1px rgba(0,0,0,0.2);
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
}

 .well {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4),0 1px 1px 0 rgba(0,0,0,0.3),0 2px 1px -1px rgba(0,0,0,0.2);
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
    padding:10px;
} 

#genLine {
    color: rgb(131, 177, 8);
}
